@{
    ViewData["Title"] = "Service management area";
}

<h1>Service management area</h1>

<a asp-controller="ServiceManagement" asp-action="ParsePrices" asp-fragment="" class="btn btn-primary">Parse all prices</a>
