@model PriceParcer.Models.MarketSiteCreateEditViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MarketSitesCreateEditViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthType" class="control-label"></label>
                <input asp-for="AuthType" class="form-control" />
                <span asp-validation-for="AuthType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SiteLogin" class="control-label"></label>
                <input asp-for="SiteLogin" class="form-control" />
                <span asp-validation-for="SiteLogin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SitePassword" class="control-label"></label>
                <input asp-for="SitePassword" class="form-control" />
                <span asp-validation-for="SitePassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParseType" class="control-label"></label>
                <select asp-for="ParseType" asp-items="@Model.ParseTypesList" class="form-control" />
                <span asp-validation-for="ParseType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParsePricePath" class="control-label"></label>
                <input asp-for="ParsePricePath" class="form-control" />
                <span asp-validation-for="ParsePricePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParseCurrencyPath" class="control-label"></label>
                <input asp-for="ParseCurrencyPath" class="form-control" />
                <span asp-validation-for="ParseCurrencyPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParsePriceAttributeName" class="control-label"></label>
                <input asp-for="ParsePriceAttributeName" class="form-control" />
                <span asp-validation-for="ParsePriceAttributeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParseCurrencyAttributeName" class="control-label"></label>
                <input asp-for="ParseCurrencyAttributeName" class="form-control" />
                <span asp-validation-for="ParseCurrencyAttributeName" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAvailable" /> @Html.DisplayNameFor(model => model.IsAvailable)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Created" class="control-label"></label>
                <input asp-for="Created" class="form-control" />
                <span asp-validation-for="Created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="col-sm-2 col-form-label" asp-for="CreatedByUser"></label>
                <select asp-for="CreatedByUserId" asp-items="@Model.UsersList"></select>
                <span asp-validation-for="CreatedByUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

